@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="container-photo">
<div class="box">
    <img src="/img/bike1.jpg">
    <span>Enjoy</span>
</div>
<div class="box">
    <img src="/img/bike2.jpg">
    <span>Your</span>
</div>
<div class="box">
    <img src="/img/bike4.jpg">
    <span>Beautiful</span>
</div>
<div class="box">
    <img src="/img/bike3.jpg">
    <span>Ride</span>
</div>
</div>